.form_wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 326px;
}
.form_label {
  margin-bottom: 24px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: -0.01em;
  color: #4f637d;
}
.form_input {
  width: 326px;
  height: 45px;
  background: #f8f9fc;
  border: none;
  margin-top: 8px;
  padding: 10px 10px 10px 17px;
  outline: none;
}
input::placeholder {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.01em;
  color: #c3cad5;
}
/* .form_input:hover,
.form_input:focus {
  border: none;
} */
/* input :not(:last-child) {
  margin-bottom: 100px;
} */
.form_button {
  width: 326px;
  margin-top: 8px;
  margin-bottom: 16px;
  background: #32abf2;
  border-radius: 8px;
  padding: 11px 0px;
  border: none;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  letter-spacing: -0.01em;
  color: #ffffff;
}
