.button_google {
  display: flex;
  width: 326px;
  margin-bottom: 16px;
  margin-top: 32px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.01em;
  color: #ffffff;
  border: 1px solid #5383ec;
  background-color: #5383ec;
  border-radius: 2px;
  padding: 0;
  overflow: hidden;
}
.button_google_icon_container {
  display: flex;
  width: 48px;
  height: 48px;
  background: #ffffff;
  justify-content: center;
  text-align: center;
}
.icon_button_google {
  width: 18px;
  height: 18px;
  margin: auto;
}
.button_google_text_container {
  display: flex;
  width: 277px;
  height: 48px;
  justify-content: center;
  padding: 13px;
}
